<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #5f5d66;"></span>
		<span class="sg-label">#5f5d66</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6e6c77;"></span>
		<span class="sg-label">#6e6c77</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b0aeb8;"></span>
		<span class="sg-label">#b0aeb8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cbb8a0;"></span>
		<span class="sg-label">#cbb8a0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fdcd84;"></span>
		<span class="sg-label">#fdcd84</span>
	</li>
</ul>
